.patients-container {
    padding: 1.5rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -30px;
  }
  
  .new-patient-button {
    display: flex;
    align-items: center;
    background-color: #15999B;
    color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .plus-icon {
    margin-right: 0.5rem;
  }
  
  .patients-table {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  th, td {
    padding: 1rem;
    text-align: left;
  }
  
  th {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  td {
    font-size: 1rem;
  }
  
  tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
  }

  tr th:last-child {
    justify-content: flex-end;  
  }
 
  th:last-child, td:last-child {
    text-align: right; 
  }
  
  .edit-button, .delete-button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }
  
  .edit-button {
    color: #007bff;
  }
  
  .delete-button {
    color: #dc3545;
  }
  
  .edit-button:hover {
    background-color: #e7f3ff;
  }
  
  .delete-button:hover {
    background-color: #fbe2e5;
  }
  
  .action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem; 
  }
  
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
  }

  /* Estilos generales para los botones de paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination-button {
  background-color: #15999B; 
  color: white; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination-button:hover {
  background-color: #45a049; 
  transform: scale(1.05); 
}

.pagination-button:disabled {
  background-color: #ddd; 
  cursor: not-allowed; 
}

.page-info {
  font-size: 16px;
  color: #333;
}

.page-info {
  margin: 0 10px;
}

.search-bar {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
  margin-top: -20px;
}

.search-bar input:focus {
  border-color: #007bff;
}

  
  .spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }